html, body {
    min-height: 100vh;
    overflow-x: hidden;
}

.brackground-global{
    background-image: url('https://img.freepik.com/fotos-premium/resumo-liso-vazio-cinza-studio-bem-usar-como-plano-de-fundo-relatorio-de-negocios-digital-modelo-de-site-pano-de-fundo_1258-53273.jpg?semt=ais_hybrid');
    background-repeat: no-repeat;
    background-size: cover;
}

.mensagem-centraliza {
    grid-column: span 2;
    text-align: center;
    justify-self: center;
    @media screen and (max-width: 768px) { 
        .mensagem-centraliza {
            grid-column: span 1; 
        }
    }
}

/* Estilo padrão para desktops */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container .logo {
    width: 10%;
}

.input-container {
    display: flex;
    align-items: center;
}

@media (max-width: 768px) {
    .header-container {
        flex-direction: column; 
        justify-content: center;
        text-align: center;
    }

    .header-container .logo {
        width: 50%; 
        margin-bottom: 1rem;
    }

    .input-container {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    .input-container input, .input-container button {
        width: 80%; 
    }
}
